.single {
  display: flex;
  width: 100%;
}

.single-container {
  flex: 6;
}

.title-single {
  font-size: 25px;
  color: rgba(149, 0, 255, 0.479);
}

.top-single {
  padding: 20px;
  display: flex;
  gap: 20px;
}

.left-single {
  flex: 1;
  box-shadow: 4px 4px 11px 3px rgba(201,201,201,0.47);
  padding: 20px;
  position: relative;
}

.item-single {
  display: flex;
  gap: 20px;
}

.itemImg {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  margin: auto;
}

.editButton {
  position: absolute;
  top: 0;
  right: 0;
  padding: 5px;
  font-size: 13px;
  color: rgb(149, 0, 255);
  background-color: rgba(194, 110, 255, 0.323);
  cursor: pointer;
  border-radius: 0px 5px 0px 5px;
  font-weight: 500;
}

.item-title {
  margin-bottom: 10px;
  color: #555;
  font-size: 25px;
  margin-left: 9px;
}

.details {
  margin-top: 20px;
}

.detailItem {
  margin-bottom: 10px;
  font-size: 14px;
}

.itemKey {
  font-weight: bold;
  color: gray;
}

.itemValue {
  font-weight: 400;
}

.right-single {
  flex: 2;
}

.bottom-single {
  box-shadow: 4px 4px 11px 3px rgba(201,201,201,0.47);
  padding: 20px;
  margin: 10px 20px;
}
