.navbar {
    height: 70px;
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #555;
}

.wrapper {
    width: 100%;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search {
    display: flex;
    align-items: center;
    border: none;
    padding: 3px;
}

input {
    border: none;
    outline: none;
    background: transparent;
}

.items {
    display: flex;
    align-items: center;
}

.item-nav {
    display: flex;
    align-items: center;
    margin-right: 15px;
    cursor: pointer;
    position: relative;
}

.counter {
    width: 18px;
    height: 18px;
    background-color: rgb(255, 43, 43);
    border-radius: 50%;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    font-weight: bold;
    position: absolute;
    top: -5px;
    right: -7px;
}
